<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS File Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Upload File to IPFS</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <h2>Uploaded Files</h2>
    <table>
        <tr>
            <th>Filename</th>
            <th>CID</th>
            <th>URL IPFS Pubic Gateway</th>
        </tr>
    {% for file in files %}
        <tr>
            <td>{{ file.filename }}</td>
            <td>{{ file.cid }}</td>
            <td>https://ipfs.io/ipfs/{{ file.cid }}</td>
        </tr>
    {% endfor %}
    </table>
    <a href="{{ url_for('retrieve_file') }}" class="button">Retrieve File</a>
</body>
</html>